<div class="booyah-box col-10 offset-1 booyah-top">
  <h1 class="text-center static-title">Careers with gymBasic</h1>
  <p>Unfortunately, we are not hiring for any positions at this time. If at any point our needs change,
    we will post information about active job openings on this page. Thank you for your interest.</p>
</div>
