<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Improve Your Workout by Focusing on Fundamentals</h1>
    <br />
    <h2>Enlightening courses that guide you back to the basics</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Invest In Yourself</h3>
    <%= image_tag 'running_man.png', class: 'img-fluid' %>
    <p>There has never been a better time than right now to focus on improving
      your health and fitness. You'll be glad you did.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Effective Courses</h3>
    <%= image_tag 'video_camera.png', class: 'img-fluid' %>
    <p>Our video courses are designed to provide you with practical, to-the-point
      information that can be easily applied to jumpstart your progress.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn From Anywhere</h3>
    <%= image_tag 'computer.png', class: 'img-fluid' %>
    <p>Whether you're at home preparing for your workout or already at the
      gym, you'll always have access your course material.</p>
  </div>
</div>
