<div class="booyah-box col-10 offset-1 booyah-top">
  <h1 class="text-center static-title">Privacy Policy</h1>
  <p class="static-descript">As gymBasic has just been developed, we do not yet have an official privacy policy.
    Please return in the near future, as we will soon post the policy in its entirety.</p>
</div>
