<div class="booyah-box col-10 offset-1 booyah-top">
  <h1 class="text-center static-title">The gymBasic Team</h1>
  <div class="row">
    <div class="col-12 col-sm-4 team-pics">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
        <h5 class="text-center">Tyler Braddock</h5>
    </div>
    <div class="col-12 col-sm-8 static-descript">
      <p>With a long-lived passion for health, fitness, weightlifting, and everything in between, Tyler, who holds a B.S. in Exercise Science and
        a B.S. in Nursing, hopes to help others remove the barriers and fears often associated with beginning a journey towards a healthier way of
        life. Presently, he is thoroughly enjoying his own journey to professional web development through The Firehose Project Online Software Engineering
        Program. There, he is learning to build web applications just like this, using HTML/CSS, Ruby, Ruby on Rails, JavaScript, and jQuery.</p>
    </div>
  </div>
</div>
