@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import "font-awesome";

body {
  background: image_url('bg.png');
  font-family: 'Cabin', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('black_linen_v2.png');
}

.navbar-brand {
  padding-bottom: 2.5px;
  font-size: 1.4rem;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 425px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty h1 {
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.95);
}

.frosty h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.95);
}

.btn {
  border-radius: 0;
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  box-shadow: 1px 1px 1px 0px #d0d0d0;
}

a:hover, a:focus {
  text-decoration: none;
}

.feature {
  width: 100%;
  padding-left: 40px;
  padding-right: 15px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.booyah-no-shadow a {
  text-shadow: none;
}

.devise-links a {
  color: #3477bb;
}

.devise-links a:hover, .devise-links a:focus {
  color: #014c8c;
}

.form-control:focus {
  border-color: #5CB85C;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  /*background: black;*/
  color: white;
  margin: 10px;
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.point {
  cursor: pointer;
}

.title-marg {
  margin-bottom: 10px;
}

.button-align .btn-danger {
  margin-left: 20px;
}

.button-align .btn-success {
  margin-right: 20px;
}

.gradient {
  background-image: linear-gradient(to bottom, black, #403F3E);
}

.lsn-btn {
  margin-right: 10px;
  background-color: #00AA72;
}
